* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color:#2E2E2E;
}

.links {
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.links img {
    float: left;
    height: auto;
}

.links button {
    cursor: pointer;
    float: left;
    margin-left: 27px;
    color: white;
    margin-top: 21px;
    font-size: 20px;
    background: none;
    border: none;
    font-family: 'Quicksand', sans-serif;
}
  
.social-media {
    background-color: black;
    padding-right: 23px;
    padding-top: 6px;
    padding-bottom: 6px;
    float: left;
    margin-top: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-left: none;
    border-top: none;
    border-bottom: none;
}    

.social-media a {
    background-color: black;
    font-size: 20px;
    color: white;
    padding-right: 8px;
    margin-left: 17px;
}

.intro {
    text-align: center;
    color: white;
    z-index: 1;
}

.intro img {
    height: auto;
}

#slo {
    height: 67px;
}

.introtext {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
}

.introtext h1 {
    background: transparent;
    font-size: 65px;
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
}

.introtext h2 {
    background: transparent;
    font-size: 35px;
    animation: fadeIn ease 7s;
    -webkit-animation: fadeIn ease 7s;
    -moz-animation: fadeIn ease 7s;
    -o-animation: fadeIn ease 7s;
    -ms-animation: fadeIn ease 7s;
    margin-bottom: 60px;
}

.bio {
    color: white;
    margin-left: 25px;
    margin-top: 15px;
    width: 33%;
    font-size: 20px;
    float: left;
}

.bio p {
    padding: 10px;
}

.face {
    float: left;
    margin-top: 35px;
    margin-left: 50px;
    margin-right: 150px;
}
  
.projects {
    list-style-type: none;
    margin-top: 600px;
    background-color: black;
    padding-bottom: 70px;
}

.projects h1 {
    text-align: center;
    color: white;
    margin-bottom: 40px;
    padding-top: 30px;
}

.list a {
    color: white;
    font-size: 20px;
    padding: 20px;
    padding-bottom: 50px;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@media only screen and (max-width: 1020px) {
    .bio {
        display: none;
    }
    .face {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        float: none;
    }
}

@media only screen and (max-width: 1400px) {
    .numbertext {
        display: none;
    }

    .face {
        margin-left: 120px;
    }

    .projects {
        margin-top: 800px;
    }
}

@media only screen and (max-width: 1700px) {
    .bio {
        width: 27%;
    }

    .face {
        margin-right: 90px;
    }
}
    

@media only screen and (max-height: 950px) {
    .introtext {
        top: 27%;
    }
}