* {
    background-color: #2E2E2E;
}

.intro {
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    /*
    font-family: 'Poiret One', cursive;
    */
}

.intro img {
    object-fit: cover;
    height: auto;
}

.introtext {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
}

.introtext h1 {
    background: transparent;
    font-size: 65px;
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
}

.introtext h2 {
    background: transparent;
    font-size: 35px;
    animation: fadeIn ease 7s;
    -webkit-animation: fadeIn ease 7s;
    -moz-animation: fadeIn ease 7s;
    -o-animation: fadeIn ease 7s;
    -ms-animation: fadeIn ease 7s;
    margin-bottom: 60px;
}

.introtext a {
    font-size: 30px;
    padding: 12px;
    color: white;
    background: transparent;
    animation: fadeIn ease 9s;
    -webkit-animation: fadeIn ease 9s;
    -moz-animation: fadeIn ease 9s;
    -o-animation: fadeIn ease 9s;
    -ms-animation: fadeIn ease 9s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.bio {
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-left: 25px;
    width: 33%;
    font-size: 20px;
    float: left;
    /*
    font-family: 'Poiret One', cursive;
    */
}

.face {
    float: left;
    margin-top: 35px;
    margin-left: 50px;
    padding-right: 35px;
}

.school {
    margin-top: 35px;
}

.projects {
    margin-top: 75px;
}

.projects h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
}

.list a {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 20px;
    padding: 30px;
}

.contact {
    position: absolute;
    margin-top: 50px;
    background-color: black;
    width: 100%;
}

.contact h1 {
    width: 100%;
    background-color: black;
    font-family: 'Raleway', sans-serif;
    color: white;
    padding: 10px;
}